APP_NAME="Skill V2 Test"
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://127.0.0.1:8000
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=skill_v2_test
DB_USERNAME=daniilglusenko
DB_PASSWORD=

CACHE_STORE=redis
SESSION_DRIVER=redis
SESSION_SECURE_COOKIE=false
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=none
QUEUE_CONNECTION=redis

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

BITRIX24_LAUNCH_SESSION_TTL=900
BITRIX24_LAUNCH_TIMEOUT=5
BITRIX24_ALLOWED_PORTAL_HOSTS=
